.logo {
  height: 100px;
}
button {
  outline: none;
  box-shadow: none;
}
button:hover {
  cursor: pointer;
}
.slider-price {
  display: flex;
}
li {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
div.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
div.search-container {
  display: flex;
  flex-direction: column;
}
div.filtre-header {
  display: flex;
}
.barre-recherche {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.searchbar {
  background-color: #f5f6f7;
  border: none;
  height: 40px;
  font-family: Open Sans, sans-serif;
  letter-spacing: 1px;
  width: 600px;
}
.searchbar:focus {
  outline: none; /* Supprime la bordure de focus */
}
.loupe {
  display: flex;
  align-items: center;

  background-color: #f5f6f7;
  height: 40px;
}
div.connect button {
  background-color: white;
  color: #2baeb7;
  border: 1px solid #2baeb7;
  padding: 8px 25px;
  border-radius: 8px;
  font-size: 12px;
  flex-shrink: 0;
  margin-right: 15px;
}
.annonce:hover {
  /* Styles de surbrillance */
  background-color: lightgray;
}
button.Vends {
  background-color: #2baeb7;
  color: #fff;
  border: 1px solid #2baeb7;
  padding: 8px 25px;
  border-radius: 8px;
  font-size: 12px;
  flex-shrink: 0;
  margin-right: 15px;
}
.bg-container {
  position: relative; /* Assurez-vous que le conteneur est positionné */
}
.bg-container img {
  width: 100%;
  height: 460px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
.start-selling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute; /* Positionne la div de façon absolue par rapport à son conteneur parent */
  top: 20%; /* Place la div au milieu verticalement */
  left: 10%; /* Place la div au milieu horizontalement */
  height: 270px;
  width: 410px;
  justify-content: space-around;
  text-align: center; /* Centre le texte horizontalement */
  border-radius: 3px;
  z-index: 2; /* Assurez-vous que la div est au-dessus de l'image de fond */
  background-color: white;
}
p.Prets {
  font-size: 34px;
}
.start-selling button {
  background-color: #2baeb7;
  color: #fff;
  border: 1px solid #2baeb7;
  padding: 8px 25px;
  border-radius: 8px;
  font-size: 12px;
  flex-shrink: 0;
  margin-right: 15px;
  height: 50px;
  width: 300px;
}
section {
  display: flex;
  margin: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
}
div.annonce {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
img.annonce-picture {
  height: 360px;
  width: 260px;

  /* Styles de surbrillance */
  background-color: lightgray;
}
img.annonce-avatar {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin: 10px;
}
div.owner {
  display: flex;
}
.owner-desc {
  color: #9a9a9a;
  font-size: 12px;
}
.annonce-desc {
  margin: 10px;
}
span {
  color: black;
}
div.content {
  display: flex;
  justify-content: space-around;
  background-color: #eaedee;
}
h2 {
  margin-bottom: 60px;
  font-size: 20px;
}
.li-left {
  color: #a0a0a0;
}
.li-right {
  color: #666666;
}
div.left img {
  height: 600px;
  width: 450px;
}
div.left {
  margin: 50px;
}
div.right {
  margin: 50px;
  height: 600px;
  width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
div.first-half {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px; /* ou toute autre valeur de marge souhaitée */
  padding: 20px;
}
.second-half {
  display: flex;
  flex-wrap: wrap;
  height: 200px;

  padding: 20px;
}
.annonce-avatar2 {
  height: 40px;
  width: 40px;
  border-radius: 36px;
}
.annonce-id {
  display: flex;
  margin-top: 30px;
}
.leftdesc {
  margin: 5px;
}
.description-detail {
  margin: 5px;
}
.buybutton {
  height: 50px;
  width: 400px;
  background-color: #10acb5;
  border-color: white;
  color: white;
  border-radius: 10px;
  margin-top: 40px;
}
.annonce-carroussel {
  display: flex;
  overflow: scroll;
  width: 450px;
  overflow-y: hidden; /* Masquer la barre de défilement verticale */
}
.annonce-carroussel::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}
/* Styles pour la poignée (thumb) de la barre de défilement */
.annonce-carroussel::-webkit-scrollbar-thumb {
  background-color: #10acb5; /* Couleur de la poignée */
  border-radius: 5px;
}
.annonce-carroussel img {
  margin-right: 20px;
}
/* SIGNUP SECTION */

.main-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.signup-div {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 280px;
  margin-top: 200px;
  margin-right: 150px;
}
h3 {
  font-size: 30px;
}
.signupUL {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  margin: 10px;
  width: 400px;
  height: 50px;
  border-top: white;
  border-left: white;
  border-right: white;
  font-size: 16px;
}
input::placeholder {
  color: #cbcccd;
}
.signupbutton {
  height: 50px;
  width: 400px;
  background-color: #10acb5;
  border-color: white;
  color: white;
  border-radius: 10px;
}
.checkbox {
  height: 20px;
}
.newsletter {
  font-size: 14px;
}
.checkbox-newsletter {
  display: flex;
  align-items: center;
}
.already-account {
  background-color: white;
  border-color: white;
  box-shadow: none;
}
.already-logged {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  justify-content: space-around;
  height: 200px;
}
h5 {
  font-size: 32px;
}
/* PUBLISH*/
.publish-main {
  background-color: #ebedee;
  display: flex;
  justify-content: center;
  height: 800px;
}

.publish-container {
  width: 1000px;
  margin-left: 350px;
  margin-right: 350px;
}
.publish-form {
  background-color: white;
  margin-top: 50px;
}
.text-input-section {
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
}
.text-input {
  display: flex;
}
